<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="generator" content="">
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    {{--  <link rel="icon" href="/icons/icon-48x48.png?v=edf3d310d67f8284a562bc3a58c3e761">  --}}
    {{--  <link rel="manifest" href="/manifest.webmanifest">  --}}
    <meta name="theme-color" content="#663399">
    <title>User Interface as a Service</title>
    <link rel="canonical" href="https://www.uiaas.io/">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover">
    <meta property="og:url" content="https://www.uiaas.io">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="UIaaS">
    {{--  <meta property="og:image" content=".png">  --}}
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@uiaas">
    {{--  <link rel="sitemap" type="application/xml" href="/sitemap.xml">  --}}
    <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://assets.uiaas.io">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="stylesheet" type="text/css" href="https://assets.uiaas.io/default/app.css">
	<meta name="Description" content="Build modern sites at blazing fast speed, using configurable modules of uiaas-components available via API. Be it a static site, blogs, portals, microsites or full-blown apps, build it all.">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KNF7W65');</script>
	<!-- End Google Tag Manager -->
</head>

<body class="bg-indigo-600 h-full flex items-center justify-center">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNF7W65"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div class="text-center px-10 w-full md:w-2/3">
		<h1 class="text-4xl text-gray-300 font-bold">UIaaS (User Interface as a Service)</h1>
		<p class="text-2xl text-gray-100 mt-4 font-light">
			Build modern sites at blazing fast speed, using configurable modules of uiaas-components available via API. Be it a static site, blogs, portals, microsites or full-blown apps, build it all.
			<br>
			
		</p>

		<p class="text-xl text-gray-100 mt-4 font-medium mt-20">UIaaS provides unique solutions for Developers, Designers, Editors, Marketing teams, Product teams and everyone who wants to have a beutiful site/portal/app.

		</p>
	</div>
</body>

</html>