:root {
	// --primary: #0169ff;
	// --pw-primary: #0169ff;
	--pw-primary: #ef413f;
	--pw-secondary: #fdc430;
	--pw-tertiary: #064e89;
	--pw-darkbg: #1d2335;
	--pw-lightbg: #f6f6f6;
	--pw-header-font: 'Poppins', serif;
	--pw-body-font: 'Poppins', sans-serif;
	--pw-dash-font: 'Inter', sans-serif;
	// --pw-header-font: 'Calistoga', serif;
	// --muted-bg: #fafafe;
	--pw-linkcolor: #4777ed;
	--pw-btnprimary-bg: #f1573b;
	--muted-bg: #ffe;
	--text-inactive: #888;
	--breakpoint--sm: 640px;
	--breakpoint--md: 960px;
	--breakpoint--lg: 1200px;
	--breakpoint--xl: 1600px;
}
// * {
// border: 1px solid var(--pw-primary);
// }
// @import url('https://rsms.me/inter/inter.css');
.pqw {
	// 1. Your custom variables and variable overwrites.
	@import 'theme.scss';

	font-family: $base-body-font-family;
	font-size: $base-body-font-size;
	font-weight: $base-body-font-weight;
	line-height: $base-body-line-height;
	-webkit-text-size-adjust: 100%;
	background: $base-body-background;
	color: $base-body-color;

	/*
	 * Remove the margin in all browsers.
	 */

	body {
		margin: 0;
	}

	// vue good table
	@import "~vue-good-table/src/styles/style.scss";

	// overwrites
	.pqw table.vgt-table td{
		padding: 1.5rem 1rem;
	}

	// 2. Import default variables and available mixins.
	@import '~uikit/src/scss/variables-theme.scss';
	@import '~uikit/src/scss/mixins-theme.scss';

	// 3. Your custom mixin overwrites.
	@mixin hook-card() {
		color: #000;
	}

	// 4. Import UIkit.
	@import '~uikit/src/scss/uikit-theme.scss';

	.uk-text-medium {
		font-weight: 500;
	}

	.pw-font-heading {
		font-family: var(--pw-header-font);
	}

	.pw-font-body {
		font-family: var(--pw-body-font);
	}

	.pw-dashfont {
		font-family: var(--pw-dash-font);
	}

	.uk-text-primary {
		color: var(--pw-primary);
	}
	.uk-text-secondary {
		color: var(--pw-secondary) !important;
	}
	.uk-text-tertiary {
		color: var(--pw-tertiary);
	}
	.uk-text-normal {
		color: #333;
	}

	.uk-background-primary {
		background-color: var(--pw-primary);
	}
	.uk-background-secondary {
		background-color: var(--pw-secondary);
	}
	.uk-background-tertiary {
		background-color: var(--pw-tertiary);
	}
	.uk-border {
		border: 1px solid #ddd;
	}
	.uk-text-bold {
		font-weight: 600;
	}

	.muted-bg {
		background: var(--muted-bg);
	}
	.lightbg {
		background-color: var(--pw-lightbg);
	}

	// Dashboard Styles
	.pq-table {
		background-color: #fff;
		border-radius: 8px;
	}

	.uk-button {
		border-radius: 4px;
		font-weight: 500;
		position: relative;

		// &::before,
		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	height: 100%;
		// 	width: 100%;
		// 	transition: all 0.25s ease;
		// }
		// &::after {
		// 	box-shadow: inset 0 0 0 1px $global-primary-background;
		// }
		// &::before {
		// 	background: transparent;
		// 	box-shadow: inset 0 0 0 60px transparent;
		// }
		// &:hover::before {
		// 	box-shadow: inset 0 0 0 1px $global-primary-background;
		// }
		// &:hover {
		// 	// box-shadow: inset 0 0 0 1px $global-primary-background;
		// }
	}

	.highlight {
		color: var(--pw-secondary);
		font-weight: bold;
	}

	// Styles for home:uiapi section
	.uiapi pre {
		padding: 20px;
		background: var(--pw-darkbg) !important;
		border: 0;
		color: #999;
		.uk-text-secondary {
			font-size: 16px;
		}
	}
	.res-view {
		pre {
			box-shadow: 0 4px 13px rgba(0, 0, 0, 0.15);
			border-radius: 0;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			margin-right: -30px;
			padding: 20px;
			background: var(--pw-darkbg) !important;
			border: 0;
			color: #999;
			.uk-text-secondary {
				font-size: 16px;
			}
		}
	}
	// Responsive styles for Headings

	/* Phone */
	@media only screen and (max-width: $breakpoint-small) {
		h1,
		.uk-h1 {
			font-size: 1.8rem;
		}

		h2,
		.uk-h2 {
			font-size: 1.6rem;
		}

		h3,
		.uk-h3 {
			font-size: 1.2rem;
		}

		h4,
		.uk-h4 {
			font-size: 1rem;
		}

		h5,
		.uk-h5 {
			font-size: 1rem;
		}

		h6,
		.uk-h6 {
			font-size: 1rem;
		}

		body,
		.desc {
			font-size: 14px;
		}

		.uk-text-large {
			font-size: 0.9rem !important;
		}

		.uk-button {
			// font-size: 14px;
			// line-height: 36px;
			// padding: 0 20px;
			// &.uk-margin-right {
			// 	margin-right: 0px !important;
			// }
		}

		.uiapi {
			.uk-text-large {
				font-size: 13px;
			}
		}

		.res-view {
			pre {
				padding: 10px;
				box-shadow: 0 4px 13px rgba(0, 0, 0, 0.15);
				border-radius: 0;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				margin-right: -15px;
				font-size: 11px;
				.uk-text-secondary {
					font-size: 12px;
				}
			}
		}
	}

	/* Phone landscape and bigger */
	@media (min-width: $breakpoint-small) {
		h1,
		.uk-h1 {
			font-size: 2.2rem;
		}

		h2,
		.uk-h2 {
			font-size: 1.7rem;
		}

		h3,
		.uk-h3 {
			font-size: 1.4rem;
		}

		h4,
		.uk-h4 {
			font-size: 1.2rem;
		}

		h5,
		.uk-h5 {
			font-size: 1rem;
		}

		h6,
		.uk-h6 {
			font-size: 1rem;
		}

		.uk-text-large {
			font-size: 1rem !important;
		}

		body,
		.desc {
			font-size: 14px;
		}

		.uk-button {
			// font-size: 14px;
			// line-height: 36px;
			// padding: 0 20px;
		}
	}

	/* Tablet landscape and bigger */
	@media (min-width: $breakpoint-medium) {
		h1,
		.uk-h1 {
			font-size: 2.5rem;
		}

		h2,
		.uk-h2 {
			font-size: 1.8rem;
		}

		h3,
		.uk-h3 {
			font-size: 1.4rem;
		}

		h4,
		.uk-h4 {
			font-size: 1.3rem;
		}

		h5,
		.uk-h5 {
			font-size: 1rem;
		}

		h6,
		.uk-h6 {
			font-size: 1rem;
		}

		body,
		.desc {
			font-size: 15px;
		}
		.uk-text-large {
			font-size: 1.1rem !important;
		}

		.uk-button {
			// font-size: 15px;
			// line-height: 38px;
			// padding: 0 20px;
		}
	}

	/* Desktop and bigger */
	@media (min-width: $breakpoint-large) {
		h1,
		.uk-h1 {
			font-size: 2.6rem;
		}

		h2,
		.uk-h2 {
			font-size: 2rem;
		}

		h3,
		.uk-h3 {
			font-size: 1.5rem;
		}

		h4,
		.uk-h4 {
			font-size: 1.2rem;
		}

		h5,
		.uk-h5 {
			font-size: 1.1rem;
		}

		h6,
		.uk-h6 {
			font-size: 1rem;
		}

		.uk-text-large {
			font-size: 1.2rem !important;
		}

		body,
		.desc {
			font-size: 16px;
		}

		.uk-button {
			// font-size: 16px;
			// line-height: 38px;
			// padding: 0 20px;
		}
	}

	.uk-button-default.btn {
		border-color: var(--pw-tertiary);
		color: var(--pw-tertiary);
		box-shadow: 0 5px 10px rgb(0 0 0 / 8%);
		&:hover {
			border-color: var(--pw-tertiary);
			color: var(--pw-tertiary);
			box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
		}
	}

	.uk-button-primary.btn {
		box-shadow: 0 4px 13px rgba(241, 87, 59, 0.3);
		// box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
		&:hover {
			box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
		}
	}



	.uk-notification-message-success {
		background-color: #32d296;
		color: white;
	}

	.uk-notification-message-danger {
		background-color: #f0506e;
		color: white;
	}

	.play {
		.uk-tab::before {
			border: 0;
		}
	}

	.herobg {
		// background-image: url('https://assets.uiaas.io/web/herobg.svg');

		overflow: hidden;
	}

	.bg-hero {
		background-image: url('https://assets.uiaas.io/web/allmodules-2-bg.webp');
		left: 50%;
		right: -1px;
		bottom: -6000px;
		// height: 100%;
		top: -1px;
		background-repeat: repeat-y;
		background-size: 100%;
		animation: animatedBackground 120s linear infinite;
	}

	.bg-hero-static {
		background-image: url('https://assets.uiaas.io/web/allmodules-2-bg.webp');
		left: 40%;
		right: -1px;
		bottom: -6000px;
		// height: 100%;
		top: -1px;
		background-repeat: repeat-y;
		background-size: 100%;
	}

	.config-button {
		margin: 0;
		// border: none;
		overflow: visible;
		// background-color: #efefef;
		-webkit-appearance: none;
		border-radius: 50%;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: middle;
		width: 40px;
		height: 40px;
		text-align: center;
		text-decoration: none;
		transition: 0.1s ease-in-out;
		transition-property: color, background-color, border-color;
		cursor: pointer;
		border: 1px solid transparent;
		z-index: 0;
		position: relative;
		color: #666;
		&.is-active {
			background-color: var(--pw-tertiary);
			color: #fff;
			z-index: 10;
		}
		&:hover {
			border-color: var(--pw-tertiary);
		}
		.icon {
			font-size: 18px;
			font-style: normal;
		}
		.material-icons {
			font-size: 24px;
		}
	}

	.cgroup {
		.config-button {
			color: #888;
			// margin-right: -20px !important;
			transition: all ease-in-out 0.2s;
			font-size: 16px;
			// box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
			.icon {
				margin-top: 3px;
			}
			.text {
				font-size: 16px;
				margin-top: 0;
			}
			&.is-active {
				color: #fff !important;
				// box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
			}
		}
		&:hover {
			.config-button {
				// margin-right: 10px !important;
				border-color: #eee;
				color: #000;
				// box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
				&.is-active {
					color: #fff !important;
				}
				&:hover {
					border-color: var(--pw-tertiary);
				}
			}
		}
	}

	// input[type='color'] {
	// 	-webkit-appearance: none;
	// 	border: 1px solid #ddd;
	// 	width: 40px;
	// 	height: 40px;
	// 	padding: 0 !important;
	// }
	// input[type='color']::-webkit-color-swatch-wrapper {
	// 	padding: 0;
	// }
	// input[type='color']::-webkit-color-swatch {
	// 	border: 1px solid #ddd;
	// 	border-radius: 50%;
	// }

	// Triangles mixin

	/**
	* A triangle with (or without) rounded corners
	* @param: $size - width/height of the triangle. Default: 2rem
	* @param: $background - any valid CSS background declaration. Default: red
	* @param: $radius - true or false (if false, no radius). Default: true
	*/

	/**
 * Usage:
 */
	.pw-transform-lg {
		transform-origin: center center;
		transform: rotate(-95deg);
	}

	@keyframes animatedBackground {
		from {
			background-position: top left;
		}
		to {
			background-position: bottom left;
		}
	}
}
